{% extends 'dashboard/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container">
  <form method="POST">
    {% csrf_token %}
    <fieldset class="form-group">
      <legend class="border-bottom mb-4">Join Today</legend>
      {{form|crispy}}
    </fieldset>
    <div class="form-group">
      <button href="" class="btn btn-outline-info" type="submit">
        Sign Up
      </button>
    </div>
  </form>
  <div class="border-top pt-3">
    <small class="text-muted">Already have an account?
      <a class="ml-2" href="{% url 'login' %}">Sign In</a>
    </small>
  </div>
</div>

<br /><br />

<section class="container text-center">
  <h5 style="color: #ff6700"><em>CREATED BY:</em></h5>
    <h3 style="color: #ff6700"> ALZIRON SYSTEMS</h3>
  <div class="row" id="footer">

    <div class="col-md-3">
      <p>Contact: <em href="tel:+239677946549">+237677946549</em></p>
    </div>
    <div class="col-md-3">
      <p>Email: <em href="mailto:alzironsystems@gmail.com">contact@alzironsystems.com</em></p>
    </div>
    <div class="col-md-3">
      <p>Location: Malingo St., Molyko-Buea, SWR, CMR</p>
    </div>
    <div class="col-md-3">
      <p>Website: <em href="https://alzironsystems.com">alzironsystems.com</em></p>
    </div>


  </div>

  <h6>&copy; 2022 Students Study Portal. All Rights Reserved </h6>
</section>
{% endblock content %}